body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: aliceblue;

}


.Center_Cad {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.container_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 40vh;
    width: 70vh;
    background-color: blueviolet;
    border-radius: 50px;
}
#tc{
    font-size: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 0%;
}
#Submit {
    width: 150px;
    height: 40px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px auto 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 2%
}

    