body{
    background-color: #323232;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
#box{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.containerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 200px;
    width: 600px;
    background-color: rgb(121, 80, 160);
    border-radius: 50px;
}
