body{
    background-color: #323232;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
#box{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70vh;
}
.containerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 200px;
    width: 600px;
    background-color: rgb(121, 80, 160);
    border-radius: 50px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #dddddd;
}
.head {
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    text-align: center;
    margin-top: 10vh;
}
