body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
 .carousel-item, img {
    width: 100%;
    height: 400px;
    object-fit:cover;
}
#carrossel {
    margin-bottom: 20px;
}