body{
    background-color: #323232;
    font-family: Arial, sans-serif;
}
form {
    
    padding: 2px;
    border-radius: 5px;
    width: 550px;
}
.box{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80vh;
}
button {
    background-color: rgb(121, 80, 160);;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
